.popup {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  width: 100%;
  height: 100%; /*Мой popup это слой который растягивается на всю страницу, для ее затемнения, могу я написать две строки вместо 4? которые сделают тоже самое, а инпуты и всё остальное в контейнере*/
  justify-content: center;
  align-items: center;
}
