.popup__form-inputs {
  margin: 0 0 48px;
  padding: 0;
  width: 100%;
  border: none;
  display: grid;
  gap: 30px;
}

@media screen and (max-width: 540px) {
  .popup__form-inputs {
    margin: 0 0 44px;
  }
}
