.popup__form-inputs {
  margin: 0 0 calc(48px - 5px - 15px);
  padding: 0;
  width: 100%;
  border: none;
  display: grid;
  gap: calc(30px - 5px - 15px);
}

@media screen and (max-width: 540px) {
  .popup__form-inputs {
    margin: 0 0 calc(44px - 5px - 15px);
  }
}
