.root {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
}
